## Reading Data Values

In [8]:
import json
fd = open("Inventory.json",'r')
r = fd.read()
fd.close()

inv = json.loads(r)

In [9]:
inv

{'101': {'Name': 'Bread',
  'Price': 40,
  'Quantity': 50,
  'Category': 'Bakery',
  'Product Popularity': 9},
 '102': {'Name': 'Cheese',
  'Price': 200,
  'Quantity': 20,
  'Category': 'Dairy',
  'Product Popularity': 8},
 '103': {'Name': 'Yogurt',
  'Price': 60,
  'Quantity': 20,
  'Category': 'Dairy',
  'Product Popularity': 9},
 '104': {'Name': 'Milkshake',
  'Price': 30,
  'Quantity': 30,
  'Category': 'Dairy',
  'Product Popularity': 9},
 '105': {'Name': 'Bath Soap',
  'Price': 20,
  'Quantity': 80,
  'Category': 'Toiletries',
  'Product Popularity': 10},
 '106': {'Name': 'Shampoo',
  'Price': 300,
  'Quantity': 25,
  'Category': 'Toiletries',
  'Product Popularity': 10},
 '107': {'Name': 'Conditioner',
  'Price': 350,
  'Quantity': 20,
  'Category': 'Toiletries',
  'Product Popularity': 8},
 '108': {'Name': 'Hair oil',
  'Price': 60,
  'Quantity': 30,
  'Category': 'Toiletries',
  'Product Popularity': 7},
 '109': {'Name': 'Tooth-brush',
  'Price': 40,
  'Quantity': 40,
  'Category': 'Toiletries',
  'Product Popularity': 10},
 '110': {'Name': 'Tooth-paste',
  'Price': 100,
  'Quantity': 30,
  'Category': 'Toiletries',
  'Product Popularity': 10},
 '111': {'Name': 'Biscuits',
  'Price': 30,
  'Quantity': 50,
  'Category': 'Bakery',
  'Product Popularity': 8},
 '112': {'Name': 'Maggi',
  'Price': 60,
  'Quantity': 30,
  'Category': 'Eatable',
  'Product Popularity': 8},
 '113': {'Name': 'Penne Pasta',
  'Price': 100,
  'Quantity': 15,
  'Category': 'Eatable',
  'Product Popularity': 8},
 '114': {'Name': 'Fusilli Pasta',
  'Price': 100,
  'Quantity': 15,
  'Category': 'Eatable',
  'Product Popularity': 7},
 '115': {'Name': 'Penne Pasta',
  'Price': 100,
  'Quantity': 15,
  'Category': 'Eatable',
  'Product Popularity': 8},
 '116': {'Name': 'Ketchup',
  'Price': 84,
  'Quantity': 40,
  'Category': 'Eatable',
  'Product Popularity': 9},
 '117': {'Name': 'Popcorn',
  'Price': 40,
  'Quantity': 25,
  'Category': 'Eatable',
  'Product Popularity': 7},
 '118': {'Name': 'Dairy Milk',
  'Price': 20,
  'Quantity': 40,
  'Category': 'Chocolate',
  'Product Popularity': 8},
 '119': {'Name': 'Dairy Milk Silk',
  'Price': 80,
  'Quantity': 10,
  'Category': 'Chocolate',
  'Product Popularity': 8},
 '120': {'Name': '5 star',
  'Price': 10,
  'Quantity': 40,
  'Category': 'Chocolate',
  'Product Popularity': 7},
 '121': {'Name': 'Notebook',
  'Price': 60,
  'Quantity': 15,
  'Category': 'Stationary',
  'Product Popularity': 7},
 '122': {'Name': 'Pen',
  'Price': 10,
  'Quantity': 30,
  'Category': 'Stationary',
  'Product Popularity': 8},
 '123': {'Name': 'Atta',
  'Price': 320,
  'Quantity': 40,
  'Category': 'Ration',
  'Product Popularity': 10},
 '124': {'Name': 'Maida',
  'Price': 60,
  'Quantity': 40,
  'Category': 'Ration',
  'Product Popularity': 10},
 '125': {'Name': 'Pulses',
  'Price': 60,
  'Quantity': 30,
  'Category': 'Ration',
  'Product Popularity': 8},
 '126': {'Name': 'Coffee',
  'Price': 150,
  'Quantity': 25,
  'Category': 'Essentials',
  'Product Popularity': 9},
 '127': {'Name': 'Tea Leaves',
  'Price': 150,
  'Quantity': 40,
  'Category': 'Essentials',
  'Product Popularity': 9},
 '128': {'Name': 'Honey',
  'Price': 100,
  'Quantity': 10,
  'Category': 'Essentials',
  'Product Popularity': 7},
 '129': {'Name': 'Pencil',
  'Price': 40,
  'Quantity': 10,
  'Category': 'Stationary',
  'Product Popularity': 6},
 '130': {'Name': 'Eraser',
  'Price': 5,
  'Quantity': 10,
  'Category': 'Stationary',
  'Product Popularity': 6},
 '131': {'Name': 'Oregano',
  'Price': 70,
  'Quantity': 10,
  'Category': 'Essentials',
  'Product Popularity': 8}}

## Purchasing Products

In [51]:
num=int(input("Enter the number of items to buy:"))
sale={}
tamount=0
for i in range(1,num+1):
    
    u_prod=str(input("Enter the Product id: "))
    u_quant=int(input("Enter the Quantity: "))

    if(u_prod in inv):
        print("Product Name: ", inv[u_prod]['Name'])
        print("Unit Price: ", inv[u_prod]['Price'])
        print("-----------------------")
        if(inv[u_prod]['Quantity']<u_quant):
            print("Quantiy not available!")
        else:
            tamount += inv[u_prod]['Price'] * u_quant

        inv[u_prod]['Quantity'] = inv[u_prod]['Quantity'] - u_quant
    else:
        print("Invalid Product id!")
    
    
    #Writing the data into inventory
    js = json.dumps(inv)
    fd = open("Inventory.json",'w')
    fd.write(js)
    fd.close()
    
    sale[len(sale)+1]={'Name' : u_prod, 'Quantity' : u_quant, 'Amount': inv[u_prod]['Price'] * u_quant}
print("-----------------------")
print("Total Amount = ",tamount)

Enter the number of items to buy:2
Enter the Product id: 121
Enter the Quantity: 1
Product Name:  Notebook
Unit Price:  60
-----------------------
Enter the Product id: 122
Enter the Quantity: 1
Product Name:  Pen
Unit Price:  10
-----------------------
-----------------------
Total Amount =  70

## Overall Sales

In [54]:
z = json.dumps(sales)
fd = open("Sales.json",'w')
fd.write(z)
fd.close()

print("Overall Sale:")
sale

Overall Sale:

{1: {'Name': '121', 'Quantity': 1, 'Amount': 60},
 2: {'Name': '122', 'Quantity': 1, 'Amount': 10}}